body{
    background:$sofRed;
}

.App {
    height: 100%;
}

.app-sof-logo{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index:-1;

    width: 196px;
    height: 192px;
    margin-top: -(192px) / 2;
    margin-left: -(192px) / 2;
    @media (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
        width: $logoSizeSmall;
        height: $logoSizeSmall;
        margin-top: -$logoSizeSmall / 2;
        margin-left: -$logoSizeSmall / 2;
    }
    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        width: $logoSize;
        height: $logoSize;
        margin-top: -$logoSize / 2;
        margin-left: -$logoSize / 2;
    }
}

.app-bottom-dots{
    position: absolute;
    bottom: 0;
    height: 100vw;
    transform: rotate(90deg);
}
