.cortege-form {
  max-width: 450px;
  margin: 0 25px;

  .mdc-text-field {
    width: 100%;
  }

  .mdc-select {
    width: 100%;
  }

  .text-info-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}