.full-width-grid-image{
    width: calc(100% + #{map-get($mdc-layout-grid-default-margin, phone)} * 2) !important;
    margin: calc(0px - #{map-get($mdc-layout-grid-default-margin, phone)}) !important;
    @media (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
        width: calc(100% + #{map-get($mdc-layout-grid-default-margin, tablet)} * 2) !important;
        margin: calc(0px - #{map-get($mdc-layout-grid-default-margin, tablet)}) !important;
    }
    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        width: calc(100% + #{map-get($mdc-layout-grid-default-margin, desktop)} * 2) !important;
        margin: calc(0px - #{map-get($mdc-layout-grid-default-margin, desktop)}) !important;
    }
}

.cortege-entry-image{
    width: 56px;
    height: 56px;
    margin: 8px 0px;
    margin-right: 12px;
    object-position: center;
    border-radius: 32px;
    @include mdc-elevation(2)
}
