$sofRed: #C20E1A;
$primary: #C20E1A;

$sofYellow: #F1CC0D;
$secondary: #F1CC0D;

$sofPink: #EF6079;

$redYellowGradient: linear-gradient($sofYellow, $sofRed);

$liuBlue: #00b9e7;

$outer-grid-margins: (
    desktop: 24px,
    tablet: 16px,
    phone: 8px,
);

$page-grid-max-width: map-get($mdc-layout-grid-breakpoints, desktop) - map-get($mdc-layout-grid-default-margin, desktop) * 2 - map-get($outer-grid-margins, desktop) * 2;

$administrative-page-grid-max-width: 1200px;
