$sofRed: #FF0000;
$primary: #FF0000;

$sofGreen: #0c726f;
$secondary: #0c726f;

$sofYellow: #ffd405;

$liuBlue: #00b9e7;

$outer-grid-margins: (
    desktop: 24px,
    tablet: 16px,
    phone: 8px,
);

$page-grid-max-width: map-get($mdc-layout-grid-breakpoints, desktop) - map-get($mdc-layout-grid-default-margin, desktop) * 2 - map-get($outer-grid-margins, desktop) * 2;

$administrative-page-grid-max-width: 1200px;
